* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url('./assets/images/cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}
.App.warm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)),url('./assets/images/warm.jpg');
}

main {
  min-height: 100vh;
}

.search-box {
  width: 100%;
  margin: 0 0 4.6875rem;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: .9375rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rbga(255, 255, 255, 0.5);
  border-radius:  0px 0px 16px, 16px;
  /* margin-top: -1.5625rem; */
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 1.25rem;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: .1875rem .1875rem rgba(50, 50, 70, 0.5 );

}

.location-box .date {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: .125rem .125rem rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 1.875rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: .9375rem 1.5625rem;
  color: #fff;
  font-size: 6.375rem;
  font-weight: 900;
  text-shadow: .1875rem .375rem rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: .1875rem .375rem rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: .1875rem .1875rem rgba(50, 50, 70, 0.5);
}